{% extends 'repository/base.html' %}

{% block cardContent %}
<p>
    We are a team of machine learning engineers and data scientists with a passion for solving real-world problems. 
    This project was developed as part of the group project for the subject CS7643: Deep Learning at Georgia Tech.
    Our team members are:
    <li> <a href="">Abdelmalak, Abanoub Elkess Pola</a> </li>
    <li> <a href="">Qabeel, Marwa Fawzy</a> </li>
    <li> <a href="">Pendley, Nicholas B</a> </li>
    <li> <a href="">Li, Haochi</a> </li>
</p>
{% endblock cardContent %}